form {
  text-align: center;
  width: 70%;
  margin: auto;
}

h2 {
   color: #052ba8;
   text-align: center;
}

p {
   text-align: center;
}

.inputs {
    align: center;
    width: 100%;
    font-size:25px;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #052ba8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}