<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/letter_input.css">
    <h1>
        Countdown Word Lookup
    </h1>
</head>
<body>
<form method="POST" action="https://thevoid.space/countdown/words_result" enctype="multipart/form-data">
    <div class="container">
        <input name='letter1' placeholder='Letter 1' maxlength="1" size="5"/>
        <input name='letter2' placeholder='Letter 2' maxlength="1" size="5"/>
        <input name='letter3' placeholder='Letter 3' maxlength="1" size="5"/>
        <input name='letter4' placeholder='Letter 4' maxlength="1" size="5"/>
        <input name='letter5' placeholder='Letter 5' maxlength="1" size="5"/>
        <input name='letter6' placeholder='Letter 6' maxlength="1" size="5"/>
        <input name='letter7' placeholder='Letter 7' maxlength="1" size="5"/>
        <input name='letter8' placeholder='Letter 8' maxlength="1" size="5"/>
        <input name='letter9' placeholder='Letter 9' maxlength="1" size="5"/>
    </div>
</form>
</body>
</html>